---
title: CS109a
---
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    
    {{> header }}
    {{> home }}
    {{> intro }}
    {{> data }}
    {{> exploration }}
    {{> model }}
    {{> future }}
    
    <script src="all.min.js"></script>
    {{#unless production}}
      <script src="http://localhost:8080/livereload.js"></script>
    {{/unless}}
  </body>
</html>