.data {
	/*height: 100%;*/
	width: 100%;
	min-height: 724px;
	background-color: #7ec834;
	overflow: hidden;

	.container {
		width: 750px;
		margin: auto auto 50px auto;

		.title {
			font-family: 'Avenir Heavy Italic', sans-serif;
			font-size: 64px;
			/*color: #414141;*/
			color: white;
			text-align: center;
			margin-top: 130px;
		}

		.explanation {
			margin: 10px 0 10px 0;
			line-height: 19px;
			font-family: 'Avenir Regular', sans-serif;
		}

		.bold {
			font-weight: bold;
		}

		.column-list {
				list-style: disc;
				font-family: 'Avenir Regular', sans-serif;

				li {
					margin: 5px;
				}
		}

		.illustration {
			display: flex;
			margin: 30px auto 30px auto;
		}
	}	
}