/*@media screen and (max-width: 480px) {
	.name {
		font-size: 24px;
	}
}*/

@media screen and (min-width: 480px) {
	.header {
		background-color: rgba(0,0,0,.7);
		display: flex;
		justify-content: space-between;
		padding: 30px 0;
		position: fixed;
		width: 100%;
		z-index: 1;

		.name {
			font-size: 48px;
			color: #FFFFFF;
			display: inline-block;
			margin-left: 25px;
			font-family: 'Avenir Next Bold Italic', sans-serif;
			font-style: italic;
			font-weight: 900;
			line-height: .7;
		}
		
		.nav {
			display: inline-block;
			align-self: flex-end;

			.nav-list {
				list-style: none;

				.nav-list-item {
					display: inline;
					padding: 0 22px;

					&:last-child {
						padding-right: 25px;
					}

					.nav-list-item-link {
						font-size: 14;
						text-decoration: none;
						color: #FFFFFF;
						font-family: 'Avenir Bold', sans-serif;
					}

					.selected {
						border-bottom: 1px solid #FFFFFF;
					}


				}
			}
		}
	}
}