<article class="browser">
	<article class="browser-header">
		<div class="button-container">
			<div class="close-button"></div>
			<div class="minimize-button"></div>
			<div class="fullsize-button"></div>
		</div>	
	</article>
	
