@mixin sublime-indentations {
  @for $indent-level from 0 through 3 {
  	.indent-#{$indent-level} {
  		margin-left: $indent-level * 10px;
  		margin-right: 6px;
  	}
  }
}

@mixin code-blocks {
	$colors: #3C7090, #889043, #B94B05, #771056, #71828C, #72FF06, #FDB411, #D71905, #B38C15;
	@for $i from 1 through 10 {
		.code-#{$i} {
			height: 8px;
			width: 50 + random($browser-width - $sublime-sidebar-width - 250);
			background-color: nth($colors, random(length($colors)));	
			margin: 10px;
		}
	}
}