<header class="header" id="header">
	{{#with header}}
		<h1 class="name">{{capitalize name}}</h1> 
		<nav class="nav">
			<ul class="nav-list">
				{{#each links}}
						<li class="nav-list-item"><a href="#" id={{this.id}} class="nav-list-item-link {{ this.selected }}">{{capitalize this.text}}</a></li>
				{{/each}}
			</ul>
		</nav>
	{{/with}}
</header>